.portlet > .portlet-body.newsfeed{
	height: 550px;
	/*height: 100%;*/
}
.portlet > .portlet-body.capaian-sks{
	height: 510px;
	/*height: 100%;*/
}
.portlet > .portlet-body.history-buku{
	height: 560px;
	/*height: 100%;*/
}

.cus-buku{
	height: 180px;
	width: 150px;
	margin-top: 15px;
}

.kotak-custom{
	height: 255px;
	width: 195px;
}
.row-buku{
	padding: 0 7px 0 7px;
}

.user-skill{
	text-align: center;
}

/*hobi*/
.hobi-custom{
	height: 90px;
	width: 120px;
}
.hobi-img{
	height: 88px;
	width: 108px;
}
.hobi-row{
	margin-top: 35px;
}

/*user*/
.user-stats{
	margin-top: 35px;
}

/*login*/

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.login-img{
	width: 120px;
	top: 10%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
}
.login-kotak{
	width: 380px;
	height: 430px;
	background-color: green;
}

/*input matakuliah*/
input.input-underline{
 	/*top: 50%;*/
	left: 55%;
	position: fixed;
	transform: translate(-50%, -50%);
	width: 850px;
	margin-top: 50px;
}
input.input-underline:focus,
input.input-underline.focus {
  
}
.matakuliah-row{
	height: 500px;
}
.matakuliah-header{
	height: 3px;
}
.big-search{
	font-size: 15px;
}
.text-center{
	text-align: center;
}

